@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GROTESQUE-REGULAR";
  src: url("../public/assets/fonts/ESRebondGrotesque-Regular.otf");
}

@font-face {
  font-family: "GROTESQUE-BOLD";
  src: url("../public/assets/fonts/ESRebondGrotesque-Semibold.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "GROTESQUE-REGULAR", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1) ), 
  url(/public/assets/images/background.jpeg);
}

@media (aspect-ratio: 1/1) {
  .main-container {
    aspect-ratio: 1/1;
  }
  .banner {
    height: 35%;
    height: 380px;
  }
  .square-banner {
    @apply grid grid-cols-2;
  }
  .banner-title {
    @apply text-8xl;
  }
  .banner-subtitle{
    @apply text-4xl;
    font-size: 2.5rem;
  }
  .banner-sportscar {
    @apply row-span-2;
  }
  .portrait-banner {
    display:none;
  }
  .cards {
    height: 49%;
  }
  .hide-aspect {
    display: none;
  }
  .footer {
    height: 16%;
    height: 180px;
  }
  .footer-text {
    display:none;
  }
}

@media (aspect-ratio: 9/16) {
  .main-container {
    aspect-ratio: 9/16;
  }
  .banner {
    height: 26.04%;
    height: 500px;
  }
  .square-banner{
    display: none;
  }
  .banner-title {
    @apply text-9xl;
  }
  .banner-subtitle{
    @apply text-5xl;
  }
  .cards {
    height: 58.34%;
    height: 1120px;
  }
  .footer {
    height: 15.62%;
    height: 300px;
  }
}