@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GROTESQUE-REGULAR";
  src: url("../public/assets/fonts/ESRebondGrotesque-Regular.otf");
}

@font-face {
  font-family: "GROTESQUE-BOLD";
  src: url("../public/assets/fonts/ESRebondGrotesque-Semibold.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "GROTESQUE-REGULAR", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url(/public/assets/images/background.jpeg);
}

.banner-sportscar {
  @apply content-end place-items-end;
}

.banner-subtitle {
  @apply content-center;
}

.banner-sportscar {
  @apply content-end place-items-end;
}

.banner-subtitle {
  @apply content-center;
}

@media (aspect-ratio: 1/1) {
  .main-container {
    aspect-ratio: 1/1;
  }

  .banner {
    max-height: 35%;
    min-height: 380px;
  }

  .square-banner {
    @apply grid grid-cols-2;
  }

  .banner-title {
    @apply text-8xl;
  }

  .banner-subtitle {
    @apply text-4xl py-5;
    font-size: 2.5rem;
  }

  .banner-sportscar {
    @apply row-span-2;
  }

  .portrait-banner {
    display: none;
  }

  .cards {
    height: 49%;
  }

  .hide-aspect {
    display: none;
  }

  .footer {
    max-height: 16%;
    min-height: 180px;
  }

  .footer-text {
    display: none;
  }
}

@media (aspect-ratio: 9/16) {
  .main-container {
    aspect-ratio: 9/16;
  }

  .banner {
    max-height: 26.04%;
    min-height: 500px;
  }

  .square-banner {
    display: none;
  }

  .banner-title {
    @apply text-9xl;
  }

  .banner-subtitle {
    @apply text-5xl;
  }

  .cards {
    min-height: 58.34%;
    max-height: 1120px;
  }

  .footer {
    max-height: 15.62%;
    min-height: 300px;
  }
}